<div class="page-container">
  <h2 class="title">Resend unlock instructions</h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form-field-wrapper' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: 'form-label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: 'button' %>
    </div>
  <% end %>

  <div class="page-container">
    <%= render "devise/shared/links" %>
  </div>
</div>
