<%= form_with(model: recipe, local: true, html: { class: 'container' }) do |form| %>
  <% if recipe.errors.any? %>
  <div>
    <h2><%= pluralize(recipe.errors.count, "error") %> が検出されました：</h2>
    <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="recipe-form">
    <div>
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description, "説明" %>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.label :image, "画像", for: 'image-preview'  %>
      <%= form.file_field :image, id: 'image-preview', direct_upload: true %>
      <div id="preview-container" style="margin-top: 20px;">
        <% if recipe.image.attached? %>
          <h3>画像プレビュー</h3> <!-- 見出し -->
          <%= image_tag recipe.image, id: 'image-preview-tag', style: 'max-width: 200px;' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="recipe-form">
    <h2>材料と分量</h2>
    <table id="ingredients_table">
      <thead>
        <tr>
          <th>材料</th>
          <th>分量</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <%= form.fields_for :ingredients do |ingredient_form| %>
          <tr>
            <td><%= ingredient_form.text_field :name, placeholder: "材料名" %></td>
            <td><%= ingredient_form.text_field :quantity, placeholder: "分量" %></td>
            <td><%= link_to '削除', '#', class: "remove_fields" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to '材料を追加', '#', id: "add_ingredient", class: "button" %>
  </div>

  <div>
    <%= form.label :instructions, "作り方" %>
    <%= form.text_area :instructions %>
  </div>


<div class="food-group-container">
  <div class="food-group-checkboxes">
    <div class="field">
      <h3>食品群</h3>
      <% ColorGroup.all.each do |color_group| %>
        <%= form.check_box :color_group_ids, {
          multiple: true,
          id: "color_group_ids_#{color_group.id}",
          checked: recipe.color_group_ids.include?(color_group.id.to_s)
        }, color_group.id, nil %>
        <%= label_tag "color_group_ids_#{color_group.id}", color_group.name %><br>
      <% end %>
    </div>
  </div>
  <div class="food-group-image">
    <%= image_tag '3-color-food-groups.png', alt: '3色の食品群' %>
    <%# <h5>※出展：佐世保市役所</h5> %>
  </div>
</div>


  <div class="return-button">
    <%= form.submit recipe.new_record? ? "レシピを登録" : "レシピを更新" %>
  </div>
<% end %>
