<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="recipes/index.css">
    <title>マイレシピアプリ - ホーム</title>
</head>
<body>
    <header>
        <h1>マイレシピアプリ</h1>
        <nav>
            <ul>
                <li><%= link_to 'ホーム', root_path %></li>
                <% if user_signed_in? %>
                    <li><%= link_to 'プロフィール編集', edit_user_registration_path %></li>
                    <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
                    <li><a href="new_recipe.html">レシピ投稿</a></li>
                <% else %>
                    <li><%= link_to 'ログイン', new_user_session_path %></li>
                    <li><%= link_to '新規登録', new_user_registration_path %></li>
                <% end %>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>レシピ一覧</h2>
            <!-- レシピのリスト -->
            <% @recipes.each do |recipe|%>
                <article>
                    <h3>レシピタイトル</h3>
                    <p>レシピ概要...</p>
                    <%= link_to '詳細を見る', recipe_path(recipe.id) %>
                </article>
            <% end %>
            <!-- 他のレシピも同様にリストアップ -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 マイレシピアプリ</p>
    </footer>
</body>
</html>
