<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>レシピ一覧</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <header class="header">
        <div class="user-menu">
            <% if user_signed_in? %>
                <%= link_to 'プロフィール', edit_user_registration_path %>
                <%= link_to 'レシピ投稿', new_recipe_path %>
                <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
            <% else %>
                <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
        </div>
    </header>
    <h1>レシピ一覧</h1>
    <div class="container recipe-list">
        <% @recipes.each do |recipe| %>
            <div class="recipe-item">
                <%= image_tag recipe.image %>
                <h3><%= link_to recipe.title, recipe %></h3>
            </div>
        <% end %>
    </div>
</body>
</html>
