<header class="header recipes-header">
    <div class="user-menu">
        <% if user_signed_in? %>
            <%= link_to 'プロフィール', edit_user_registration_path, class: "menu-link" %>
            <%= link_to 'レシピ投稿', new_recipe_path, class: "menu-link"  %>
            <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "menu-link"  %>
        <% else %>
            <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
    </div>
    <%= form_with url: recipes_path, method: :get, class: 'form-field-wrapper' do |form| %>
        <div class="search-field">
            <%= form.label :keyword, 'キーワード' %>
            <%= form.text_field :keyword %>
        </div>
        <div class="select-field">
            <%= form.label :color_group_id, 'カテゴリー' %>
            <%= form.select :color_group_id, ColorGroup.all.map { |c| [c.name, c.id] }, include_blank: true %>
        </div>
        <%= form.submit '検索', class: 'button' %>
    <% end %>
</header>
<h1>レシピ一覧</h1>


<div class="container">
    <ul class="recipe-list">
        <% @recipes.each do |recipe| %>
            <li>
                <div class="recipe-item">
                    <% if recipe.image.attached? %>
                        <%= link_to image_tag(recipe.image), recipe_path(recipe) %>
                    <% else %>
                        <%= link_to image_tag('default-salad.png', alt: 'サンプルサラダ画像'), recipe_path(recipe) %>
                    <% end %>
                    <h3><%= link_to recipe.title, recipe %></h3>
                    <%= link_to '編集', edit_recipe_path(recipe) %>
                    <%= link_to '削除', recipe_path(recipe), method: :delete, data: { turbo_confirm: '本当に削除しますか？', turbo_method: :delete } %>
                </div>
            </li>
        <% end %>
    </ul>
</div>
