<h1><%= @recipe.title %></h1>

<p>
  <strong>説明:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>作り方:</strong>
  <%= @recipe.instructions %>
</p>

<%= link_to '編集', edit_recipe_path(@recipe) %> |
<%= link_to '一覧に戻る', recipes_path %>
