<!DOCTYPE html>
<html>
  <head>
    <title>マイレシピアプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<header class="header">
  <div class="container">
    <%= link_to "マイレシピアプリ", root_path, class: "logo" %>
  </div>
</header>

  <body>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
