<!DOCTYPE html>
<html>
  <head>
    <title>マイレシピアプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>

    <header class="header main-header">
      <div class="container">
        <div class="title-and-icon">
          <%= link_to "マイレシピアプリ", root_path, class: "logo" %>
          <div class="header-icon">
            <%= image_tag 'myrecipeicon.png', alt: 'アイコン' %>
          </div>
        </div>
      </div>
    </header>

  <%= yield %>

    <footer class="footer">
      <div class="container">
        <p class="footer-text">&copy; <%= Time.now.year %> MyRecipeApp. All rights reserved.</p>
      </div>
    </footer>

  </body>
</html>
